body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

canvas {
  border: solid;
  margin-left: 16px;
}

header {
  background: #5151ff;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 32px;
  box-shadow: 0px 2px 4px #80808091;
}

header > span {
  vertical-align: middle;
}

#main {
  margin-left: 16px;
}

.btn-bar {
  margin: 10px;
}

button {
  padding: 8px 20px;
  box-shadow: 0px 2px 4px #69696d6b;
  border-radius: 32px;
  font-size: 16px;
  border: none;
}

button:hover {
  background: #e2e2e2;
}

.primary {
  color: white;
  background: #5151ff;
  box-shadow: 0px 2px 4px #1e1e9c6b;
}

.primary:hover {
  background: #3939c5;
}

.primary:disabled {
  background: gray;
}

table {
  margin: 10px;
  margin-left: 16px;
  border-collapse: collapse;
  font-size: 20px;
}

td {
  padding: 4px 8px;
}

.header-row {
  font-weight: bold;
  text-align: center;
  background: #efefef;
}

.result-row {
  text-align: right;
}

.prediction {
  background: #aafdaa;
}

.result-img {
  text-align: center;
}
